{% extends 'base.html.twig' %}
{% block title %}Administration
{% endblock %}
{% block body %}
	{% if slide.id == null %}
		<h1>Création slide{{slide.titre}}</h1>
	{% else %}
		<h1>Edition du slide
			{{slide.texte}}</h1>
	{% endif %}
	{{form(vueFormulaire)}}{% endblock %}
